POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379

KAFKA_BROKERS=kafka:9092
KAFKA_UI_PORT=8085

API_GATEWAY_PORT=8080
AUTH_GRPC_PORT=50051
ACCOUNT_GRPC_PORT=50052
TRANSACTION_GRPC_PORT=50053
NOTIFICATION_GRPC_PORT=50054

JWT_SECRET=super-secret-key-change-in-production
